// COLOR
$color-primary: #414171;

$color-black: #000;
$color-black-35: #353535;

$color-red: #a30404;
$color-red-warning: #f15656;

$color-green: #033f03;
$color-green-light-1: #b7f0b7;
$color-green-light-2: #7ae07a;

$color-gray-dark-1: #656565;
$color-gray-light-1: #ebebeb;

$screen-xs: 375px;
$screen-sm-1: 490px;
$screen-sm-2: 620px;
$screen-md: 769px;