.operators_grid {
    display: grid;
    grid-template-columns: 80px;
    grid-template-rows: repeat(5, 80px);
    padding: 20px;
    padding-inline-start: 0;
    gap: 15px;

    .btn {
        font-size: 32px;
        color: #f7f7f7;
    }

    .btn_operator {
        background-color: #d12828;
        transition: background-color .5s;

        &:hover {
            background-color: #ea4b4b;
        }
    }
}