@use '../utils/variables' as *;
@use '../utils/mixins' as *;

.numbers {
    position: absolute;
    top: 156px;
    left: 9px;

    @include Breakpoint($screen-sm-1) {
        top: calc(115px + 120px + 10px + 5px);
        left: 11px;
    }

    &-0 {
        width: calc(74px * 4);
        order: 10;
        grid-column: 1/4;
        margin-left: 4px;

        @include Breakpoint($screen-sm-1) {
            width: calc(112.5px * 4);
        }
    }
}